@mixin small {
  @media (max-width: 768px) {
    @content;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: #b23386;
  overflow: hidden;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  @include small {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
